{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppAlgebra | Editar Perfil</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
</head>

<body>
    <div id="sideNavigation" class="sidenav ">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="sidebar_inner">
            <div class="text-center">
                <img class="imagen_perfil" src="{{ user.imagen_de_perfil.url }}" alt="img_porfile">
                <h5 class="p-2">{{ nombre }}</h5>
            </div>

            <ul class="link-nav">
                <li><a href="/index"> <span class="fas fa-home"></span>Home</a></li>
                <li><a href="/perfil"> <span class="fas fa-user"></span> Mi perfil</a></li>
                <li><a href="#"><span class="fas fa-book"></span> Mis materias</a></li>
                <li><a href="#"><span class="fas fa-search"></span> Buscar materia</a></li>
                <li><a href="{% url 'cerrar_sesion' %}"><span class="fas fa-sign-out-alt"></span> Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
    <div id="overlay"></div>
    <nav class="topnav sidebar_hide">
        <a href="#" onclick="openNav()">
            <svg width="30" height="30" id="icoOpen">
                <path d="M0,5 30,5" stroke="#000" stroke-width="5" />
                <path d="M0,14 30,14" stroke="#000" stroke-width="5" />
                <path d="M0,23 30,23" stroke="#000" stroke-width="5" />
            </svg>
        </a>
    </nav>
    <section class="content-100">
        <header>
            <div class="container text-center">
                <img class="logo_vertical" src="{% static '/images/logo_vertical.png' %}" alt="img_porfile">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="p-5 collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-item-link" href="/index">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>
        <div class="container editar-perfil">
            <div class="row">
                <div class="col-md-auto d-flex align-items-center">
                    <img class="imagen_perfil" src="{{ user.imagen_de_perfil.url }}" alt="img_porfile">
                </div>
                <div class="col aling-center">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="message{% if message.tags %} {{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="post" class="form-editar-perfil" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.nombre.label_tag }} {{ form.nombre }}
                        {{ form.apellido.label_tag }} {{ form.apellido }}
                        {{ form.email.label_tag }} {{ form.email }}

                        <div>
                            <label for="id_imagen_de_perfil">Imagen de Perfil:</label>
                            {{ form.imagen_de_perfil }}
                        </div>

                        <button type="submit">Guardar</button>
                        <a href="{% url 'index' %}">Cancelar</a>
                    </form>

                </div>
            </div>
        </div>
    </section>

</body>

</html>