{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AppAlgebra | Registro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 vertical-center">
                <div class="slider">
                    <img src="{% static '/images/logo.png' %}" alt="AppAlgebra Logo">
                </div>
            </div>
            <div class="col-md-6 vertical-center">
                <div class="form-container">
                    <h4 class="pb-3">Registro de usuario</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <p for="nombre">Nombre:</p>
                            {{ form.nombre }}
                        </div>
                        <div class="form-group">
                            <p for="apellido">Apellido:</p>
                            {{ form.apellido }}
                        </div>
                        <div class="form-group">
                            <p for="email">Email:</p>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <p for="password">Contraseña:</p>
                            {{ form.password }}
                        </div>
                        <div class="form-group">
                            <p for="password2">Confirmar contraseña:</p>
                            {{ form.password2 }}
                        </div>
                        <div class="form-group">
                            <p for="matricula">Matrícula:</p>
                            {{ form.matricula }}
                        </div>
                        <div class="form-group">
                            <p for="nrc" id="nrc">NRC:</p>
                            {{ form.nrc }}
                        </div>
                        <div class="form-group form-check form-check-inline">
                            <p class="form-check-label" for="es_alumno">Soy alumno:  </p>
                            {{ form.es_alumno }}
                        </div>
                        <div class="form-submit">
                            <input class="boton-primary" type="submit" value="Registrarse">
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const alumnoCheckbox = document.getElementById('es_alumno');
        const nrcLabel = document.getElementById('nrc');
        const nrcInput = document.getElementById('id_nrc');
    
        alumnoCheckbox.addEventListener('change', function() {
            if (alumnoCheckbox.checked) {
                nrcLabel.style.display = 'block';
                nrcInput.style.display = 'block';
            } else {
                nrcLabel.style.display = 'none';
                nrcInput.style.display = 'none';
            }
        });
    </script>
</body>
</html>